@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@layer base {
  :root {
    --color-accent: #ff7016;
    --color-accent-dark: #43bb00;
    --text-color:#262525;
    --offer-text:#A2A2A2;
  }
}

@layer components {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 3em;
    padding-right: 3em;
  }
  .icon__wrapper {
    @apply border border-gray-400 rounded-full w-[50px] h-[50px] grid place-items-center text-[22px];
  }

  .feature_btn {
    @apply bg-green-700 text-white px-4 py-1 rounded-full;
  }
}

@layer utilities {
  .text-accent {
    color: var(--color-accent);
  }

  .text-accent-dark {
    color: var(--color-accent-dark);
  }

  .bg-accent {
    background-color: var(--color-accent);
  }

  .bg-accent-dark {
    background-color: var(--color-accent-dark);
  }
}